<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>Template Title</title>

<link rel="stylesheet" href="../../public/css/style.css" />
<script defer src="../../public/js/script.js"></script>
