<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body id="root" class="container">
    <header>HEADER</header>

    <main>
      <div>MAIN CONTENT</div>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
